<% include header %>
<br/>
<br/>
<br/>
<h1>Rohith Kumar Agiru</h1>

    <h2>
        About Me
    </h2>
      
      <img class="img-circle" src="../../images/aboutme/t7a/rohith.jpg" alt=Home height="200" width="200">
      
      <br>
      <p>Myself <b><span class="xyz"> Rohith Kumar Agiru </span> </b>. However, most people call me 'Rohith'. I am from Hyderabad,India.<br>
      I have pursued my undergraduation in Information technology from JNTUH.
      <br/>
      
      
      <h3> Plans </h3><br/>
      
      I am excited to learn a lot of things from Nwmissouri university in my graduation which will be helpful in future.<br>
      My goal is to get placed as a software develepor in a good company where I can improve my skills.<br>
      
      <section>
        <h3> Interests </h3>
        <p>
        I love playing cricket and listening music.<br>
        I try to explore new things. <br> I am intrested in Java Programming.
        </p>
        </section>
      
<br/>
<br/>
<% include footer %>