<br/>
<br/>
<br/>
<h1>Darshan Reddy Chilakala</h1>
    <h2 style="color:blue;">Software Developer</h2>
        <h3> My background </h3>
            <h5> Hi I am Darshan Reddy from Bangalore,India. I completed my under graduation in computer science from SJBIT. <br> I have nearly 22 months of experience 
                in Tata consulancy services as a support analyst in Retail domain. <br> My job profile included managing orders, creating scripts, designing scenarios
                and performance testing of the applications.<br>Currently I am pursing Masters in Applied Computer Science at Northwest Missouri State University.  </h5>
<br/>
<br/>