/**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #8  : Chester Condray, Elicia Reuscher                                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page describes details about myself.                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Chester Condray                          0.0.1(Initial)                 initial                | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/

.primeHeader{
    color: skyblue;
    text-shadow:
	-1px -1px 0 black,
	1px -1px 0 black,
	-1px 1px 0 black,
	1px 1px 0 black;
}

.header{
    color: blue;
}