/**
* @file public\css\aboutme\HHawthorne.css
* This file implements the styling for the T12b About view.
*
* @summary - Team 12b About Styling.
* @author - Hunter Hawthorne
* @copyright - Northest Missouri State University
*/
 
 body {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Arial", Helvetica, sans-serif;
}

.active {
    background-color: #ffffff;
}


#insetdiv {
	margin: auto;
	border-style: inset;
	height: 250px;
	width: 250px;
}

#profile {
	border-radius: 50%;
	float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #51aeff;
}

div.iframe {
	text-align: center;
}
iframe.iframe {
	border:none;
}


#maindiv {
	background-color: #51aeff;
	margin: auto;
	padding: 10px;
	max-width: 500px;
}

h1.aboutMe {
	text-align: center;
}

div.LI-profile-badge {
	background-color: #ffffff;
}

div.infodiv {
	text-align: center;
	
}



#background {
	border-style: solid;
	word-wrap: break-word;
	margin: auto;
	max-width: 500px;
}

#plans {
	border-style: dotted;
	word-wrap: break-word;
	margin: auto;
	max-width: 500px;
}

#interests {
	border-style: double;
	word-wrap: break-word;
	margin: auto;
	max-width: 500px;
}
