.mainBody {
     background-image: url("/images/aboutme/t11c/image.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
}


.img-circle{
	border-radius: 60%;
	float: right;
	
}

#header {
	width:10%;
	height:100px;
	line-height:50px;
	font-size: 2em;
	float:left;
}

#content{
	list-style-type: none;
}

#content li {
	margin-right: 20px;
	float: right;
}
	
.backgroundContent
{
	color:black;	
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}

.plansContent
{
	color:black;	
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}

.interestContent
{
	color:black;	
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
}

#footer {
	color: black;
	text-align: center;
	font-size: 3em;
	font-style: italic;
    padding-top: 50px;
    padding-right: 30px;
}
