<!--
* @file views\about\t12\index.ejs
* This file implements the team 12 about view.
*
* @summary - Team 12 About View.
* @author - Dave W.
* @copyright - Northest Missouri State University
-->

<br/>
<br/>
<br/>
<h1>Team 12</h1>
<h2>Dave W. and Hunter Hawthorne</h2>
<br/>
<h2>Responsible for: public client-side assets and contact page</h2>

<br/>
<br/>