<!--

      +-----------------------------------------------------------------------------------------------------------------+ 
      |                                             Copyright - NWMSU                                                   |
      |                                           NWMSU INTERNAL USE ONLY                                               |
      |-----------------------------------------------------------------------------------------------------------------| 
      |Team 06                                                                                                          |
      |Unit 06 : Saiteja Jonalagadda , Pravallika Kawali                                                                     |
      |-----------------------------------------------------------------------------------------------------------------|
      |Description: The select page displays the recent estimates to select from                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |    NAME                            VERSION                       CHANGES                                        |
      |-----------------------------------------------------------------------------------------------------------------|
      |Saiteja Jonalagadda                    0.0.1(Initial)              Created the select page                             |
      |Pravallika kawali                 0.0.1(Initial)              Added view for select page                          |             
      |                                                                                                                 |
      +-----------------------------------------------------------------------------------------------------------------+
-->
<br/>
<br/>

            <a href="create" class="btn btn-danger new">
                return to
                create
            </a>
            <h2>Recent Estimates</h2>
            <p>There are
                <%= estimates.query.length %> estimates.
                    <br/>
            </p>
            <div class="container-fluid">
                <div class="row">
                        
            <% for (var i = estimates.query.length-1; i >= 0; i--) {   estimate = estimates.query[i]; %>
                
                <div class="col">
                
                        ID:
                        <%=  estimate._id %>
                            <br> Name:
                            <%=estimate.name%>
                                <br/> Location:
                                <%=estimate.location%>
                                    <br/> SqFt:
                                    <%=estimate.squareFeet%>
                                        <br/>
                                        
                                                
                                                <a href="/estimate/copyfrom/<%= estimate._id  %>" class="btn btn-success"> Select </a>
                                                <br>
                                                <br>
                                            </div>        
                  
                <% } %>
            
            
            </div>
        </div>
        <!-- </div>
    </div>
</div> -->
