<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #5  : Santhosh Dulam,Sai Varun,Keerthi                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page is redirected when the address in invalid.                                                                 | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Keerthi Chiduruppa           0.0.1(Initial)                     updated             | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->
<br>
<br>
<div >
 <!-- <h1>404</h1>
 <p> Page Not Found </p> -->
 <center>
 <img src="https://static.vecteezy.com/system/resources/previews/000/096/258/non_2x/free-page-not-found-vector.jpg">
 </center>
</div>
 <h1 id="hi">404<br>Oh No!<br>
 It looks like you are lost! </h1>
</div>
