<li class="dropdown-submenu">
    <a href="#">2017 Fall Web Apps Section 01<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a href="/about/t1">Team 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t1/a">Srinivas Prakash</a></li>
          <li><a href="/about/t1/b">Shobhit</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t2">Team 2 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t2/a">Karunakar Reddy Katasani</a></li>
          <li><a href="/about/t2/b">Chaithanya Manas Reddy Matta</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t3">Team 3 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t3/a">Vipul Chandoor</a></li>
          <li><a href="/about/t3/b">Ashwith Gundu</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t4">Team 4 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t4/a">Kyle White</a></li>
          <li><a href="/about/t4/b">Jake Edmisten</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t5">Team 5 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t5/a">Surya Chandra Phani Santhosh Dulam</a></li>
          <li><a href="/about/t5/b">Keerthi Chiduruppa</a></li>
          <li><a href="/about/t5/c">Saivarun Illendula</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t6">Team 6 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t6/a">Saiteja Jonnalagadda</a></li>
          <li><a href="/about/t6/b">Pravalika Kawali</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t7">Team 7 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t7/a">Rohith Kumar Agiru</a></li>
          <li><a href="/about/t7/b">Kishan Kalburgi Srinivas</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t8">Team 8 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t8/a">Chester Condray</a></li>
          <li><a href="/about/t8/b">Elicia Reuscher</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t9">Team 9 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t9/a">Varshitha Guntakandla</a></li>
          <li><a href="/about/t9/b">Phanivardhan Gurram</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t10">Team 10 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t10/a">Lakshmi Manjari Alapati</a></li>
          <li><a href="/about/t10/b">Sri Satya Deepthi Kantipudi</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t11">Team 11 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t11/a">Tapan Kumar Jella</a></li>
          <li><a href="/about/t11/b">Darshan Reddy Chilakala</a></li>
          <li><a href="/about/t11/c">Pavithra Devdas</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="/about/t12">Team 12 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/about/t12/a">Dave</a></li>
          <li><a href="/about/t12/b">Hunter</a></li>
        </ul>
      </li>
      
      

      

      