<!-- *
*      +----------------------------------------------------------------------------------------------------------------+
*      |       Copyright - Northest Missouri State University                  | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Team #  06                                                                                                                         | 
*      |Unit # 06 : Saiteja Jonnalagadda, Pravallika kawali                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: links estimates                                                                  | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    Name                                       0.0.1(Initial)                      change log                    | 
*      |   Pravalika Kawali                            0.0.1                               Created index page            |                                             
*      |   Saiteja Jonnalagadda                        0.0.2                               Modified Index Page                                                         
*      +-----------------------------------------------------------------------------------------------------------------+
 -->

<div class="container-fluid">
    <div class=row>
        <div class="col-md-12">
            <br/>
            <h1>Welcome to C&G Coatings Job Cost Estimator!</h1>
            <br/>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 w3-content w3-section" style="max-width:500px">
            <img class="mySlides" src="../../images/welcome/img1.jpg" style="width:75%">
            <img class="mySlides" src="../../images/welcome/img2.jpg" style="width:100%">
            <img class="mySlides" src="../../images/welcome/img3.jpg" style="width:100%">
            <img class="mySlides" src="../../images/welcome/img4.jpg" style="width:100%">
            <img class="mySlides" src="../../images/welcome/img5.jpg" style="width:100%">
        </div>
        <div class="col-md-2 col-md-offset-2">
            <img src="../../images/cglogo.png" style="width:100% ">
            <hr style="margin-right: -91px;border-top: 3px double #000000;">
            <h3>Environment Friendly Products</h3>
        </div>
    </div>
    <br/>
</div>
</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>