<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #8  : Chester Condray, Elicia Reuscher                                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page describes details about myself.                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Chester Condray                          0.0.1(Initial)                 initial                | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->

<br/>
<br/>
<br/>
<link type="text/css" href="\css\aboutme\chester.css" rel="stylesheet">
<h1 clase="primeHeader">Chester Condray</h1>
<h2 class="header">Software Developer</h2>
<section><div>
    <img src="\images\aboutme\t8a\chester.jpg" width="120" height="160"><div>
</section>
<header>
    <h1 class="header">Where I'm From</h1>
    <p>My name is Chester Condray and I am from Farmington, Missouri. I went to highschool at
        Arcadia Valley R-II and also attended two years at Mineral Area College in Park Hills. I
        am a computer science major at Northwest Missouri State University in my Senior year and
        am looking forward to graduating in December of 2017. I unfortunately don't have very much
        of a work history, but am very optimistic.</p>
</header>
<section>
    <h2 class="header">Plans for the Future</h2>
    <p>I'm not currently settled on future plans right now, but I do have several things I
        would like to try and go into. I'm currently considering work in Data Entry at a place
        close to home with a company called Centene. They handle insurance claims and are intending
        to expand while moving to a new, larger site so I'm considering getting in with them as
        they grow. The other path I'm considering is doing networking, but where I might do that
        I have not mapped out yet so that option is still in the research phase.</p>
</section>
<section>
    <h2 class="header">My Interests</h2>
    <p>My biggest hobby currently is in video games, no big surprise there. They're a good way
        to relax and for me they can actually help sometimes with my own creative processes. I also
        do some exercising, I'm actually on a nine week cardio program to help get e going. I don't
        really have very much interest in sports, but I am fond of baseball since my parents used to
        take my siblings and I to see Cardinals games while we lived in St. Louis. I also find boxing
        to be interesting but have not kept up with it recently.</p>
</section>
<section>
    <h3>Contact info:</h3>
    <p>University Email: s514290@nwmissouri.edu<br>
        Personal Email: chestercondray@gmail.com
    </p>
</section>
<br/>
<br/>