<!--
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #5  : Santhosh Dulam,Sai Varun,Keerthi                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page describes about my details                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Saivarun Illendula               0.0.1(Initial)                 made changes regarding my details               | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*-->
<!DOCTYPE html>
<html>
	<head>
			
		<link type ="text/css" href="\css\aboutme\Varun.css" rel="stylesheet" /> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

	</head>
	<body style="background-image: url('/images/aboutme/t5c/white.jpg')">
			<div class="container">
		
				<div class="row">
					<div class="col-md-2"> 
							<img src="\images\aboutme\t5c\saiimage.jpg" alt="Saivarun Illendula" width="100" height="100">
                    </div>
                    <div class="col-md-6">
                            <div class="header1">
                                <header><h1>About Me </h1></header>
                            </div>
                        </div>
					
				</div>
										<!-- Example row of columns -->
				<div class="row">
								<div class="col-md-12">
										<h2 class="head">My Background</h2>
											<p><strong>I am Saivarun Illendula from Hyderabad, India. I have completed my undergraduation from </strong></p>
										<p><strong>Keshav Memorial Institute of Technology in the Electronics and Communication Engineering stream passing</strong></p>
										<p><strong>out with an aggregate of 76%.</strong></p>
								</div>
							  
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Plans</h2>
								<p><strong>I would like to pursue a career in Web Devolopment and Software Engineering. Also I would like to establish a </strong></p>
								<p><strong>startup through which abandoned and stray animals in the streets can be adoptable and find forever homes.</strong></p>
						  </div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Interests</h2>
								<p><strong>My sporting interests include Cricket, Football, Table Tennis and Swimming. I am an active volunteer of</strong>.</p>
								<p><strong>of Swetcha Foundation which aims at eradicating Child labour from the society and I am also a volunteer for </strong></p>
                  <p><strong>Blue Cross of Hyderabad which serves to provide abandoned and stray animals the required help they need and</strong></p>
                  <p><strong>eventually find them forever homes to live.</strong></p>
						  </div>
				</div>
			</div>
						
	</body>
</html>
