<!--
* @file views\about\t7\b\index.ejs
* This file implements the team 7b (kishan) about view.
*
* @summary - Kishan Kalburgi Srinivas About View.
* @author - Kishan Kalburgi Srinivas 
* @copyright - Northest Missouri State University
-->
  
<h1>Kishan Kalburgi Srinivas</h1> 
<img class="img-circle shake" src="../../images/aboutme/t7b/kishan.jpg" alt=Home height="200" width="200">
<h2>Software Developer</h2>
<section>
    <div class="col-sm-offset-2 col-xs-12  col-sm-8">
        <h2 class="custom-h2">Background</h2>
        <p class="about-body">
            I am Kishan Kalburgi Srinivas from Bengaluru, India. I did my Undergrad From VTU, Belgaum, India in the year 2017 Apart from
            my studies, I am Social Media Manager at Kalpana Tailor-The Gentlemen's Choice, Co-Founder and Director
            of Engineer Ideas Collection - EIC and Co-founder of Asian Photography.
        </p>
    </div>
</section>
<section>
    <div class="col-sm-offset-2 col-xs-12  col-sm-8">
        <h2 class="custom-h2">Plans</h2>
        <p class="about-body">
            To pursue career and passion as web designer by gaining experience in one of leading cooperate organization.
        </p>
    </div>
</section>
<section>
    <div class="col-sm-offset-2 col-xs-12  col-sm-8">
        <h2 class="custom-h2">Interests</h2>
        <p class="about-body">
            I am pastionet about Website Design, Web Application and photography For more click below link
        </p>
    </div>
</section>
<div class="clearfix"></div>

<style>
.custom-h2{
    text-align: center;
    font-family: Tw Cen MT;
    font-family: Lucida Calligraphy;
    text-decoration: underline;
    margin-top: 3%;
    margin-bottom: 1.3%;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  .about-body{
    font-family: Monotype Corsiva;
    font-size: 130%;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
</style>