<br/>
<br/>
<br/>
<h1>Lakshmi Manjari Alapati</h1>
<h2>Software Developer</h2>
<div>
    <div class="row" id="Intro">
        <div class="col-md-8">
            <h2>Background</h2>
             <p>Hello! My name is Lakshmi Manjari Alapati. I am from Andhra Pradesh, India. I have completed my undergraduation
            in Bachelors of Technology, Information Technology in Vignan's University, Vadlamudi. I have a work
            experience of 3.7 years as Systems Engineer in Tata Consultancy Services. I worked in C# .Net related
            technologies for Humana, Louisville, KY.</p>
        </div>
        <div class="col-md-4">
            <img src="../../images/manju.jpg" class="img-circle" alt="manju" width="170" height="170">
        </div>
    </div>
    <div class="row" id="Intro"> 
        <div class="col-md-8">
            <h2>Plans</h2>
             <p>I worked mostly on backend development and so, I want to explore front end development technologies like
            JQuery, Angular Js etc. I have a basic client side development knowledge on these technologies and
            I want to learn deeper.</p>
        </div>
    </div>
    <div class="row" id="Intro">
        <div class="col-md-8">
            <h2>Interests</h2>
              <p>I enjoy watching movies and TV shows very much. I love to explore different kinds of food choices online.</p>
        </div>
    </div>
</div>
<style>
    img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#Intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
</style>
<br/>
<br/>