<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../css/aboutme/deepthi.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<br/>
<br/>
<h1>Sri Satya Deepthi Kantipudi</h1>
<h2>Software Developer</h2>
<img class="img-circle" src="../../images/aboutme/t10b/deepthi.jpg" alt="manas" width="170" height="170">
<body>
    <div class="row">
        <div class="text" >
            <h2>Background</h2>
             <p>I'm from Andhra Pradesh,INDIA. I completed my under graduation in computer science from Andhra University in 2017.
                I have no professional experience.</p>
       
        
        </div>
    
        <div class="text">
            <h2>Plans</h2>
             <p>I want to continue my career in developing web applications as full stack developer.</p>
        </div>
    
   
    
        <div class="text">
            <h2 >Interests</h2>
              <p>I'm intrested in web development Apart from my technical interest I like shopping and cooking. I love to travel different places.
                I like to listen melodies</p>
        </div>
      
    </div>
    <br/>
    <br/>

</body>
</html>