<!-- /**
*
*      +----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                  | 
*       |-----------------------------------------------------------------------------------------------------------------|
*      |Team #5                                                                                                                          | 
*      |Unit #5  : Santhosh Dulam,Sai Varun,Keerthi                                                                                        | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This page describes the details about myself.                                                                    | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                    |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |   Keerthi Chiduruppa             0.0.1(Initial)                 updated              | 
*      |                                                                                                                                       | 
*      |                                                                                                                                       | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/ -->
<!DOCTYPE html>
<html>
	<head>
		
		<!-- <link type ="text/css" href="\css\aboutme\Keerthi.css" rel="stylesheet" />  -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

	</head>
	<body background="\images\aboutme\t5b\749510_white-light-plain-backgrounds-wallpapers-image-2-puzzle-play_1920x1080_h.jpg">
			<div class="container">
		
				<div class="row">
					<div class="col-md-2"> 
							<img src="\images\aboutme\t5b\kee.jpg" alt="Paris" width="100" height="100">
                    </div>
                    <div class="col-md-6">
                            <div class="header1">
                                <header><h1>About Me </h1></header>
                            </div>
                        </div>
					
				</div>
										<!-- Example row of columns -->
				<div class="row">
								<div class="col-md-12">
										<h2 class="head">My Background</h2>
											<p><strong>I'm from Hyderabad located in the southern part of India.</strong></p>
										<p><strong>I've done my under graduation in Computer Science and Engineering from JNTU.</strong></p>
										<p><strong> I don't have any work experience in this field.
                                             I attended workshops on HTML basics and completed a project on creating a dynamic website.</strong></p>
								</div>
							  
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Plans</h2>
								<p><strong>I am aiming for good grades in my masters and would like to secure a job as a software developer in a reputed company.</strong></p>
								
						  </div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Interests</h2>
								<p><strong>I'm interested in sketching. </strong>.</p>
								<p><strong>I like travelling and exploring different places and cultures.</strong></p>
						 	 	
						  </div>
				</div>
			</div>
						
	</body>
</html>
