<!--
/**
*
*      +-----------------------------------------------------------------------------------------------------------------+
*      |                                             Copyright - Northest Missouri State University                      | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Team                                                                                                             | 
*      |Unit 2  : Karunakar Reddy Katasani,Chaithanya Manas Reddy Matta                                                  | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |Description: This program describes about me                                                                     | 
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    NAME                            VERSION                       CHANGES                                        |
*      |-----------------------------------------------------------------------------------------------------------------|
*      |    Name                                       0.0.1(Initial)                      change log                    | 
*      |   Karunakar Reddy Katasani                                                                                      | 
*      |                                                                                                                 | 
*      +-----------------------------------------------------------------------------------------------------------------+
*/
-->
<br/>
<br/>
<br/>
<h1 class="head">Karunakar Reddy Katasani</h1>
<h2 class="head">Software Developer</h2>
<img class="image img-circle" src="../../images/aboutme/t2a/karun.jpg" alt="image" height="300" width="300"/> 
<section>
<div>
    <Center>
      <h1 class = "highlight">INTRODUCTION </h1>      
      <p>I am from HYDERABAD,INDIA.</p>
     <p>I graduated in the year 2017 from JNTU.</p></div>
     </header>
     </section>
     <section>
     <div class="col-md-8">
     <h2 class = "highlight"> PLANS</h2>
     <p> My plan is to become a software engineer, which is an aim of every computer science student.<br>
     I like web designing. It is the front end for any website</p></div></section>
     <section></section><div class="col-md-8">
     <h3 class ="highlight"> INTERESTS </h3>
     <p>I am enthusiastic about artificial intelligence.My favourite sport is cricket.One of the finest programming language that i like is JAVA.
     I oftenly visit <span id="color">FUTURISM</span> website.Latest tech all over the world are grouped together in this website.
     <a href="https://www.futurism.com">Take a glimpse of this website.</a></p>
     </div>
     </section>
     </div>
     <div class="col-md-8">
     <footer>
     <p>Done by: Karunakar Reddy</p>
     <p>contact information:</p>
     <a class="hover" href="S530472@nwmissouri.edu">S530472@nwmissouri.edu</a>
     </footer></div>
    </Center>
  </div>
