<!--
* @file views\about\t12\b\index.ejs
* This file implements the about view for Team12b.
*
* @summary - T12b About View.
* @author - Hunter Hawthorne
* @copyright - Northest Missouri State University
-->

<!DOCTYPE html>
	
	<body class="body">

		<div id="maindiv">
			<img id="profile" src="/images/aboutme/t12b/Hunter.jpg" class="circle" height="100" width="100" alt="Profile Picutre">
			<header><h1 class="aboutMe">About Me</h1></header>
			<div class="infodiv">
				
				<article class="article">
				<h4>Below are a couple of things about me!</h4>
					<section id="background" >
						<h3 id="backgroundHeader">Background</h3>
						<p class="backgroundParagraph">I have lived in Maryville for most of my life. I am currently studing
						Computer Science as my degree. This last summer I worked for Cerner as a
						Systems Engineer. After the Internship I recieved a job offer and I will
						continue to work for them in 2018.</p>
					</section>
					<section id="plans">
						<h3 id="plansHeader">Plans</h3>
						<p class="plansParagraph">I love working with security. I hope to get a job in security at Cerner
						while I am working there. I also enjoy the hardware side of computers.</p>
					</section>
					<section id="interests">
						<h3 id="interestsHeader">Interests</h3>
						<p class="interestsParagraph">I enjoy playing video games and experiementing with security tools
						Currently my favorites programming language is BASH. Right now I am
						playing around with Kali Linux which is an offensive security distro
						of Linux.</p>
					</section>
					<section>
						
						<a href="https://github.com/doubleh1223"><h4>GitHub Account</h4></a>
						
						<a href="https://bitbucket.org/s515739/"><h4>BitBucket Account</h4></a>
					</section>
				</article>
				
				<br>
				<footer>By Hunter Hawthorne</footer>
			</div>
		</div>
		
	</body>



</html>