<!--
* @file views\about\t12\a\index.ejs
* This file implements the about view for Team12a.
*
* @summary - T12a About View.
* @author - Dave W.
* @copyright - Northest Missouri State University
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<link type="text/css" href="\css\aboutme\dave.css" rel="stylesheet">
	<title>Dave - About Me</title>
</head>

<body class="blackbgrd">
	<header class="header_style container-fluid">
		<div class="row" id="fullname">
			<div class="col-xs-12">
				<br>
				<br>
				<h1>Dave</h1>
			</div>
		</div>
		<br> <br> <br> <br> <br>			
	</header>

	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 float_left">
						<img class="img_circle" src="\images\aboutme\t12a\dave.jpg" alt="Army Picture">
				</div>
				<div class="col-xs-8 float_right biography_style">
					<h2 id="about_me">About Me</h2>
					<hr>
					<h2 class="subtitle">Background</h2>
					<p class="paragraphtext"> I am married and have two sons. I am retired from the Army with 20 years of service, including multiple deployments and overseas tours. I spent 3 years serving as Assistant Professor at the United States Military Academy (USMA). I have a B.S. in Civil Engineering from USMA, a M.S. in Engineering Management from the University of Missouri at Rolla, and a M.S. in Structural Engineering from the University of Texas. I am also a registered Professional Engineer in Missouri and Texas, and a licensed secondary education math teacher in Missouri.</p>
					<h2 class="subtitle">Plans for the Future</h2>
					<p class="paragraphtext"> I am in my second year of the M.S in Education program at Northwest Missouri State University. Upon graduation, I plan to start teaching high school math. </p>
					<h2 class="subtitle">Interests</h2>
					<p class="paragraphtext"> My hobbies include hunting, fishing, snorkeling, reading, economic research, games with the family, gardening, and woodworking. Technology specific interests include electronics and computer hardware repair and construction, and learning more about website development and programming applications to assist in effectively using technology to improve learning inside and outside of my classroom.</p>
					<hr>
				</div>
			</div>
		</div>
	</section>
	
	<footer>
		<div class="row">
			<br>
			<p class="col-xs-12">Contact information: 
				<a href="mailto:S528390@nwmissouri.edu">S528390@nwmissouri.edu</a>
			</p>
		</div>
	</footer>
  
</body>
</html>