<br/>
<br/>
<br/>
<h1>Phanivardhan Gurram</h1>
<h2>Software Developer</h2>
<div class="col-md-4">
    <img src="../../images/aboutme/t9b/my.jpg" class="img-circle" alt="phani" width="170" height="170">
</div>
<h1 class="heading" >About Me      </h1>
</header>
<h3>   Background      </h3>
<p class="para">
I am phanivardhan from hyderabad,India.<br>
I completed my batchelors from mallareddy institute of technology in the year 2016.
<br>
I worked as a .NET developer in a startup company
</p>
<section>
<h3>   plans        </h3>
<p class="para">
I am interested to work as a web developer . <br>
I like to learn new technologies and try to implement them.
<br>
</p>
</section>
<section>
<h3>   My interests    </h3>
<p class="para">
I like playing cricket and table tennis . <br>
I like to play music instruments especially keyboard
<br>
</p>
</section>
</article>

</div>


<br/>
<br/>