<!DOCTYPE html>
<html>
	<head>
			
		<link type ="text/css" href="\css\aboutme\Dulam_Santhosh.css" rel="stylesheet" /> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		

	</head>
	<body>
			<div class="container">
		
				<div class="row">
					<div class="col-md-2"> 
							<img src="\images\aboutme\t11b\darshan.jpg" alt="Paris" width="100" height="100">
                    </div>
                    <div class="col-md-6">
                            <div class="header1">
                                <header><h1>About Me </h1></header>
                            </div>
                        </div>
					
				</div>
										<!-- Example row of columns -->
				<div class="row">
								<div class="col-md-12">
										<h2 class="head">My Background</h2>
											<p><strong>I am Darshan Reddy from Bangalore,India. I completed my under graduation in computer science from SJBIT.</strong></p>
										<p><strong>I have nearly 22 months of experience in Tata consulancy services as a support analyst in Retail domain.</strong></p>
								</div>
							  
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Plans</h2>
								<p><strong>My short term goal is to get graduated from Northwest University with good grades.</strong></p>
								<p><strong>My long term goal is to become Data Analyst in a Retail company.</strong></p>
						  </div>
				</div>
				<div class="row">
						  <div class="col-md-12">
								<h2 class="head">My Interests</h2>
								<p><strong>I love travelling and exploring new places.</strong>.</p>
								<p><strong>My hobbies are watching movies, playing cricket, football and listening to music.</strong></p>
						 	 	
						  </div>
				</div>
			</div>
						
	</body>
</html>
