<br/>
<br/>
<br/>
<h1 class="head">Vipul Chandoor</h1>
<h2 class="head">Software Developer</h2>
<img class="image img-circle" src="/images/vipul.jpg" alt="image" height="300" width="300"/>
<section>
    <h2 class="heading">Background</h2>
    <p>       My full name is Vipul Chandoor. I am from Nizamabad, India.  <br>
           I have completed my Bachelors Degree in Electrical and Electronics Engineering <br>
           from St.martin's Engineering College, Affilated to Jawaharlal Nehuru Technological<br>
           University of Hyderabad in year 2017.<br>  
    </p>
    </section>
    <section>
     <h2 class="heading">Plans</h2>
     <p>     I want to be an Entrepreneur and Startup a company. <br>
           and My dream is to design and maintain my own website for my company. Apart from <br>
           academics I want to be the best player in Basket Ball and Table Tennis. And to<br>
           Travel all over the United States of America. These are the plans for next 3 years.<br>
</p>
    </section>
    <section>
     <h2 class="heading">  Interest</h2>
     <p>     I will spend most of my Leasure time in Solving all types of Rubick's Cube. <br> 
           Playing Sports, Numasmitics- Collection of Currecny, Philately- Collection of Stamps.<br>
           Love to travel all over the world.<br>
     </p>
    </section>
<br/>
<br/>